.HomeBackground{

    height: 100%;
    min-height: 100%;
    width: 100%;
    background-image: url("../img/welcome.jpg");
    background-size: cover;
    opacity: 0.5;
}

.HomeTitle{

    font-size: 5.5em;
    position: absolute;
    top: 30%;
}