.HomeBackground{

    height: 100%;
    min-height: 100%;
    width: 100%;
    background-image: url("../img/welcome.jpg");
    background-size: cover;
    opacity: 0.5;
}

.HomeTitle{

    font-size: 5.5em;
    position: absolute;
    top: 30%;
}

.HomeLinks{

    position: absolute;
    top: 45%;
}

a:hover{

    text-decoration: none !important;
    color: #800080;
}

a:focus{

    box-shadow: none !important;
}

button:hover{

    text-decoration: none !important;
    color: #800080;
}